@model List<ContactMessage>
@{
    ViewData["Title"] = "Сообщения с платформы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-title">Сообщения на сайте</h3>

@foreach (var e in Model)
{
    if (!e.Readen)
    {
        <a asp-action="ShowMessage" asp-route-messageId="@e.ContactMessageId">
            <div class="not-readen-message">@e.Date.ToString("HH.mm - dd.MM.yy") - @e.From - @e.FromEmail</div>
        </a>
    }
    else
    {
        <a asp-action="ShowMessage" asp-route-messageId="@e.ContactMessageId">
            <div class="readen-message">@e.Date.ToString("HH.mm - dd.MM.yy") - @e.From - @e.FromEmail</div>
        </a>
    }
}

